body {
    margin: 0;
    padding: 0;
    background: url(FondoPeleaGrimm.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: sans-serif;
    min-height: 100vh; 
    display: flex;
    justify-content: center;
    align-items: center;
}